<!--ユーザ側／投稿編集画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-8 col-md-6 col-lg-5 px-5 px-sm-0 mx-auto">

      <div class="rounded-lg border p-3">
        <h5 class="text-center mx-auto mb-4">投稿を編集する</h5>
        <%= form_with model: @post, url: post_path do |f| %>
          <%= render "public/shared/error_messages", resource: @post %>
          <div class="form-group">
            <%= f.label :image, "投稿画像" %><br>
            <%= f.file_field :image, accept: "image/*" %>
          </div>

          <div class="form-group">
            <%= f.label :name, "投稿名" %><br>
            <%= f.text_field :name, placeholder: "あなたが手放したもの", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :caption, "投稿文" %><br>
            <%= f.text_area :caption, placeholder: "なぜ手放したのか、などふり返りながら自由に書き残しましょう！ハッシュタグもつけられます（例：#断捨離）", rows: "10", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :quantity, "断捨離した数" %><br>
            <div class="input-group">
              <%= f.number_field :quantity, placeholder: "記録しない場合は0と入力", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group text-center">
            <%= f.submit "変更する", class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
