<!--ユーザ側／日付指定で投稿を絞り込んだ結果画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">

      <!--プロフィール-->
      <%= render "public/users/profile", user: @user, posts: @posts %>

      <h5 class="row justify-content-center align-items-center text-center">
        <%= I18n.l(@start_date) %> ～ <%= I18n.l(@end_date) %>
      </h5>

      <table class="table table-bordered mx-auto" style="max-width: 300px;">
        <thead class="bg-light">
          <tr>
            <td>投稿した数</td>
            <td>断捨離した数</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @filtered_posts.count %></td>
            <td><%= @filtered_posts.pluck(:quantity).sum %></td>
          </tr>
        </tbody>
      </table>

      <!--絞り込み結果-->
      <%= render "public/users/own_index", posts: @filtered_posts %>

    </div>
  </div>
</div>