<!--ユーザ側／キーワード検索結果画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">

      <h4 class="text-center mx-auto mb-4">【<%= params[:keyword] %>】を含む投稿</h4>

      <!--投稿並び替えボタン-->
      <div class="text-center mx-auto pb-3 mb-4">
        <%= link_to '新しい順', search_posts_path(keyword: params[:keyword], latest: "true") %>
        | <%= link_to '古い順', search_posts_path(keyword: params[:keyword], old: "true") %>
        | <%= link_to search_posts_path(keyword: params[:keyword], most_favorites: "true") do %>
            <i class="fas fa-heart"></i>が多い順
          <% end %>
      </div>

      <!--キーワード検索結果一覧-->
      <%= render "public/posts/index", posts: @posts %>

    </div>
  </div>
</div>