<!--ユーザ側／トップページ-->
<div id="top-background">
  <div class='container py-5'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  
        <% if user_signed_in? %>
          <!--ログインしてる時はあいさつ文-->
          <div class="row justify-content-center align-items-center bg-white pt-5">
            <%= image_tag 'stechao-logo.png', size: '220x55' %>
            <div class="text-center p-5">
              <h3 class="mb-3">始めましょう</h3>
              <h5>
                <p>stechaoはあなたの断捨離をサポートします。</p><br>
                <p>あなたが手放したものを記録し、<br>なぜ手放したのか振り返ることができます。</p><br>
                <p>また、それらを投稿として共有し、<br>自由に閲覧できます。</p><br>
                <p>今すぐ始めましょう！</p>
              </h5>
            </div>
          </div>
        <% else %>
          <!--ログインしてない時はログイン画面-->
          <div class="rounded-lg bg-white border p-5">
            <p class="text-center">
              <%= image_tag 'stechao-logo.png', size: '180x45' %>
            </p>
            <h4 class="text-center mb-4">
              ログインして始めましょう
            </h4>
            <%= form_with model: @user, url: user_session_path, method: :post do |f| %>
              <%= render "public/shared/error_messages", resource: @user %>
    
              <div class="form-group">
                <%= f.label :name, "ユーザー名" %><br>
                <%= f.text_field :name, autofocus: true, class: "form-control" %>
              </div>
    
              <div class="form-group">
                <%= f.label :password, "パスワード(6字以上)" %><br>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
    
              <% if devise_mapping.rememberable? %>
                <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end %>
    
              <div class="form-group text-center">
                <%= f.submit "ログイン", class: "btn btn-success" %>
              </div>
            <% end %>
            <%= link_to "新規登録はこちら", new_user_registration_path %>
          </div>
        <% end %>

    </div>
  </div>
</div>