<!--管理者側／投稿詳細画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-9 col-lg-9 px-5 px-sm-0 mx-auto">

      <div class="mb-4">
        <h2><%= I18n.l(@post.created_at.to_date, format: :long) %></h2>
        <h5>【最終更新日：<%= I18n.l(@post.updated_at.to_date, format: :long) %>】</h5>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag @post.get_image(250,250) %>
          <% unless @post.quantity == 0 %>
            <p class="text-left border rounded-lg p-2">
              ◆断捨離した数は <strong><%= @post.quantity %></strong> です
            </p>
          <% end %>
        </div>
        <div class="col-md-8">
          <div id="postdetail-name-css">
            <h4><%= @post.name %></h4>
            <div>

            </div>
          </div>
          <div class="text-break rounded-lg py-1 px-2">
            <%= simple_format(render_with_hashtags(@post.caption)) %>
          </div>
        </div>
      </div>

      <!--コメント機能-->
      <h3 id="comment_counter" class="border-top pt-3">
        <%= render "public/post_comments/counter", posts: @post %>
        コメント
      </h3>
      <div id="comment_index">
        <%= render "public/post_comments/index", posts: @post %>
      </div>

    </div>
  </div>
</div>
