<!--管理者側／投稿詳細画面-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-7 px-5 px-sm-0 mx-auto">

      <!--2099年12月16日(金)のような形で日付表示-->
      <h4 class="row justify-content-center align-items-center">
        <%= I18n.l(@post.created_at.to_date, format: :long) %>
      </h4>
      <h5 class="row justify-content-center align-items-center mb-4">
        <%= I18n.l(@post.updated_at.to_date, format: :long) %>に更新
      </h5>

      <!--断捨離した数を表示（0の時は表示しない）-->
      <% unless @post.quantity == 0 %>
        <div class="d-flex justify-content-center align-items-center p-2">
          <i class="fas fa-star text-warning"></i> 断捨離した数は <strong><%= @post.quantity %></strong> です
        </div>
      <% end %>

      <!--投稿画像-->
      <div class="d-flex justify-content-center align-items-center my-3">
        <%= image_tag @post.get_image(300,300) %>
      </div>

      <div class="pale-border-bottom row justify-content-center align-items-center my-3">
        <!--管理者がログイン中かつ現在のURLにadminが含まれてるなら、削除ボタン表示-->
        <% if admin_signed_in? && request.path.include?("admin") %>
          <%= link_to "投稿を削除する", admin_post_path(@post), method: :delete, data: { confirm: "この投稿を削除しますか？" }, class: "btn btn-danger mb-3"   %>
        <% end %>
      </div>

      <!--投稿名-->
      <h5 class="mb-4"><%= @post.name %></h5>

      <!--投稿キャプション-->
      <div class="text-break py-1 px-2">
        <!--キャプション内の改行を維持する＆各ハッシュタグをリンクに変換-->
        <%= simple_format(render_with_hashtags(@post.caption)) %>
      </div>

      <!--コメント数-->
      <h5 id="comment_counter" class="border-top pt-3">
        <%= render "public/post_comments/counter", post: @post %>
        コメント
      </h5>
      <!--コメント一覧-->
      <div id="comment_index">
        <%= render "public/post_comments/index", post: @post %>
      </div>

    </div>
  </div>
</div>
