<!--public/users/own_index（パーシャル）-->
<div class="row">
  <% posts.each do |posts| %>
    <div class="col-md-6">
      <div class="card shadow p-1 mx-1 mb-4">
        <div class="card-body p-1">
          <div class="card-text p-1 d-flex justify-content-between">
            <!--投稿名-->
            <span><%= posts.name.truncate(8) %></span>
            <span class="d-flex justify-content-end">
              <!--コメント数-->
              <div id="comment_counter" class="h5 mr-2">
                 <%= render "public/post_comments/counter", posts: posts %>
              </div>
              <!--お気に入りボタン-->
              <div id="favorite_btn_<%= posts.id %>" class="h5 mr-2">
                <%= render "public/favorites/btn", posts: posts %>
              </div>
            </span>
          </div>
        </div>
        <!--投稿画像-->
        <%= link_to post_path(posts), class: "link-image-hover-transparent" do %>
          <%= image_tag posts.get_image(250,250), class: "card-img-top" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>