<!--ユーザ側／ユーザ詳細画面（マイページ）-->
<div class='container py-5'>
  <div class='row'>
    
    <!--プロフィール-->
    <div class="col-md-4 bg-light rounded-lg">
      <div class="profile-content row justify-content-center align-items-center">
        <div class="col-sm text-center">
          <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle shadow" %>
        </div>
        <div class="col-sm py-3 text-break">
          <h4><%= @user.name %></h4>
          <%= @user.introduction %>
        </div>
      </div>
      <div class="row mt-3">
        <%= link_to new_post_path, class: "btn btn-outline-primary col-sm m-2" do %>
          <i class="fas fa-paper-plane"></i>投稿する
        <% end %>
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-success col-sm m-2" do %>
          <i class="fas fa-user-gear"></i>編集する
        <% end %>
      </div>
      <div class="row">
        <%= link_to new_post_path, class: "btn btn-outline-danger col-sm m-2" do %>
          <i class="fas fa-heart"></i>お気に入り
        <% end %>
        <%= link_to new_post_path, class: "btn btn-outline-dark col-sm m-2" do %>
          <i class="fas fa-message"></i>コメント
        <% end %>
      </div>
    </div>
    <!--ユーザ自身の投稿一覧-->
    <div class="col-md-8">
      <h2 class="title">
        <i class="fas fa-flag"></i>
        マイページ
      </h2>
      <div class="row">
        <% @posts.each do |posts| %>
          <div class="col-4">
            <%= link_to post_path(posts), class: "text-decoration-none text-dark" do %>
              <div class="card shadow p-1 mx-1 mb-4">
                <div class="card-body p-1">
                  <p class="card-text">
                    <%= posts.name.truncate(7) %>
                    <%= link_to post_path(posts) do %>
                      <i class="fas fa-comment"></i>
                      <%= posts.post_comments.count %>
                    <% end %>
                    <span id="favorite_btn_<%= posts.id %>">
                      <%= render "public/favorites/btn", posts: posts %>
                    </span>
                  </p>
                </div>
                <%= image_tag posts.get_image(250,250), class: "card-img-top" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
