<!--ユーザ側／ユーザ詳細画面（マイページ）-->
<div class='container py-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">

    <!--プロフィール-->
      <div class="profile-content row justify-content-center align-items-center bg-light rounded-lg mb-5">
        <div class="col-sm text-center">
          <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle shadow" %>
        </div>
        <div class="col-sm text-center py-3 text-break">
          <h4><%= @user.name %></h4>
          <%= @user.introduction %>
        </div>
        <div class="col-sm text-center py-3 text-break">
          投稿記録を見る<br>
          投稿した数　<%= @user.posts.count %><br>
          断捨離した数　<%= @user.posts.count %>
        </div>
        <div class="col-sm text-center py-3 text-break">
          投稿を並び替える<br>
          新しい順<br>
          古い順<br>
          お気に入りが多い順<br>
        </div>
      </div>

    <!--ユーザ自身の投稿一覧-->
      <div class="row">
        <% @posts.each do |posts| %>
          <div class="col-4">
            <%= link_to post_path(posts), class: "text-decoration-none" do %>
              <div class="card shadow p-1 mx-1 mb-4">
                <div class="card-body p-1">
                  <p class="card-text">
                    <%= posts.name.truncate(7) %>
                    <%= link_to post_path(posts) do %>
                      <i class="fas fa-comment"></i>
                      <%= posts.post_comments.count %>
                    <% end %>
                    <span id="favorite_btn_<%= posts.id %>">
                      <%= render "public/favorites/btn", posts: posts %>
                    </span>
                  </p>
                </div>
                <%= image_tag posts.get_image(250,250), class: "card-img-top" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
