<!--サイドバー-->
<div id="sticky-sidebar" class="col pt-5 shadow-sm">
  <a id="sidebar-trigger" href="#" class="ml-4 p-2">
    <%= image_tag 'stechao-logo.png', size: '200x50' %>
  </a>
  <div id="sidebar-menu">
    <ul>
      <% if admin_signed_in? %>
        <li><%= link_to "ユーザー一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "投稿一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "コメント一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "ログアウト", admin_top_path, class: 'text-light' %></li>
      <% elsif user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle shadow" %>
            投稿を見る
          <% end %>
        </li>
        <li>
          <%= link_to new_post_path do %>
            <i class="fas fa-paper-plane"></i> 新しく投稿する
          <% end %>
        </li>
        <li>
          <%= link_to favorites_user_path(current_user) do %>
            <i class="fas fa-heart"></i> お気に入りを見る
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <i class="fas fa-images"></i> みんなの投稿を見る
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fas fa-user-group"></i> ユーザーを見る
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-user-gear"></i> プロフィール編集
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <% else %> <!--ログインしてない時-->
        <li>
          <%= link_to root_path do %>
              <i class="fas fa-circle-question"></i> Stechaoとは
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
              <i class="fas fa-right-to-bracket"></i> ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if user_signed_in? %>
  <div class="row justify-content-center mt-4">
    <%= form_with url: search_posts_path, method: :get do |f| %>
      <div class="input-group">
        <%= f.text_field :keyword, placeholder: "投稿を検索", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-sm btn-success ml-2" %>
      </div>
    <% end %>
  </div>
<% end %>
