<!--レスポンシブ時ハンバーガーメニューになるサイドバー-->
<div id="sticky-sidebar" class="col pt-5 shadow-sm">
  <a id="sidebar-trigger" href="#" class="ml-4 p-2">
    <%= image_tag 'stechao-logo.png', size: '200x50' %>
  </a>
  <div id="sidebar-menu">
    <ul>
      <% if admin_signed_in? %>
        <li><%= link_to "ユーザー一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "投稿一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "コメント一覧", admin_top_path, class: 'text-light' %></li>
        <li><%= link_to "ログアウト", admin_top_path, class: 'text-light' %></li>
      <% elsif user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle shadow" %>
            <%= current_user.name %>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <i class="fas fa-images"></i> 投稿を見に行く
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fas fa-user-group"></i> ユーザーを見に行く
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <% else %> <!--ログインしてない時-->
        <li>
          <%= link_to root_path do %>
              <i class="fas fa-circle-question"></i> Stechaoとは
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
              <i class="fas fa-right-to-bracket"></i> ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>