<!--ハンバーガーメニュー-->
<div id="nav-toggle">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!--サイドバー-->
<aside id="sidebar" class="shadow">
  <nav id="global-nav" class="pb-5">
    <%= link_to root_path, class: "link-image-hover-transparent" do %>
      <%= image_tag 'stechao-logo.png', size: '200x50' %>
    <% end %>
    <ul>
      <!--管理者がログイン中かつ現在のURLにadminを含む場合-->
      <% if admin_signed_in? && request.path.include?("admin") %>
        <li><%= link_to "ユーザーリスト", admin_users_path %></li>
        <li><%= link_to "投稿リスト", admin_top_path %></li>
        <li><%= link_to "コメントリスト", admin_post_comments_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <!--ユーザがログイン中かつ現在のURLにadminを含まない場合-->
      <% elsif user_signed_in? && !request.path.include?("admin") %>
        <li>
          <%= link_to user_path(current_user), class: "py-1 py-sm-3" do %>
            <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle shadow" %>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to new_post_path, class: "pb-1 py-sm-3" do %>
            <i class="fas fa-paper-plane"></i> 新しい投稿
          <% end %>
        </li>
        <li>
          <%= link_to posts_path, class: "pb-1 py-sm-3" do %>
            <i class="fas fa-images"></i> みんなの投稿
          <% end %>
        </li>
        <li>
          <%= link_to favorites_user_path(current_user), class: "pb-1 py-sm-3" do %>
            <i class="fas fa-heart"></i> お気に入りリスト
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: "pb-1 py-sm-3" do %>
            <i class="fas fa-user-group"></i> ユーザーリスト
          <% end %>
        </li>
        <li>
          <%= link_to edit_profile_users_path, class: "pb-1 py-sm-3" do %>
            <i class="fas fa-user-gear"></i> プロフィール編集
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "pb-1 py-sm-3" do %>
            <i class="fas fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
      <!--ログインしてない場合-->
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
              <i class="fas fa-right-to-bracket"></i> ログイン
          <% end %>
        </li>
        <li><%= link_to 'ゲストログイン(テスト用)', public_users_guest_sign_in_path, method: :post %></li>
      <% end %>
    </ul>
  </nav>
</aside>

<script type="text/javascript">
  (function($) {
    $(function () {
      $('#nav-toggle,#overlay').on('click', function() {
          $('body').toggleClass('open');
      });
    });
  })(jQuery);
</script>